/**

 wrapper - контейнер
 grid-template-columns: repeat(12, 1fr)  -   допустимая ширина (1fr) - делится на 12 колонок
 grid-template-rows: 10vh  79vh  10vh   -  допустимая высота (100vh) - делится на 3 части (10vh  79vh  10vh)
 grid-gap: 5px - отступ между блоками

 grid-template-areas:     " h  h  h  h  h  h  h  h  h  h  h  h  h "
                          " l  l  l  c  c  c  c  c  c  c  r  r  r "
                          " f  f  f  f  f  f  f  f  f  f  f  f  f "  - визуализация блоков

**/

.fa-expand{
    color: #578aee;
}
.fa-compress{
    color: #578aee;
}

.mydark{
    background-color: #7e8486;
}

body{
    margin: 0;
    padding: 0;
    background-color: #929295;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5vh 75vh 75vh 10vh;
    grid-gap: 5px;
    grid-template-areas: " h  h  h  h  h  h  h  h  h  h  h  h " " l  l  l  c  c  c  c  c  c  c  r  r " " m  m  m  c  c  c  c  c  c  c  r  r " " f  f  f  f  f  f  f  f  f  f  f  f ";
}

#ico{
    position: absolute;
    top: 5px;
    right:10px;
}

.hider {
    position: relative;
    grid-area: h;
    background-color: #4e5357;
}

.left_sidebar {
    grid-area: l;
    background-color: cornflowerblue;
}

.left_mini_sidebar {
    grid-area: m;
    background-color: #175a00;
}

.content {
    grid-area: c;
    background-color: red;
}

.right_sidebar {
    grid-area: r;
    background-color: yellow;
}

.footer {
    grid-area: f;
    background-color: #4e5357;
}

@media only screen and (min-width: 1024px) and (max-width: 3000px) {
    h1 {
        margin-top: 10px;
        text-align: center;
    }

    .wrapper {
        width: calc(100% - 40px);
        margin: 0 auto;
        display: grid;
        background-color: #d5d50e;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 43px 75vh 75vh 83px;
        grid-gap: 5px;
        grid-template-areas: " h  h  h  h  h  h  h  h  h  h  h  h " " l  l  l  c  c  c  c  c  c  c  r  r " " m  m  m  c  c  c  c  c  c  c  r  r " " f  f  f  f  f  f  f  f  f  f  f  f ";
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow-y: scroll;
    }

    h1 {
        margin-top: 40px;
        text-align: center;
        font-size: 24px;
    }

    .wrapper {
        max-width: calc(100% - 10px);
        grid-template-rows: 43px 40vh 40vh 40vh 40vh 40vh 83px;
        grid-template-areas: "h h h h h h h h h h h h" "l l l l l l r r r r r r" "m m m m m m r r r r r r" "c c c c c c c c c c c c" "c c c c c c c c c c c c" "c c c c c c c c c c c c" "f f f f f f f f f f f f";
    }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {

    body {
        overflow-y: scroll;
    }

    h1 {
        margin-top: 40px;
        text-align: center;
        font-size: 24px;
    }

    .wrapper {
        max-width: calc(100% - 10px);
        grid-template-rows: 43px 200px 200px 200px 200px 200px 83px;
        grid-template-areas: "h h h h h h h h h h h h" "l l l l l l l l l l l l" "m m m m m m r r r r r r" "c c c c c c c c c c c c" "c c c c c c c c c c c c" "c c c c c c c c c c c c" "f f f f f f f f f f f f";
    }
}


/*
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation : landscape) {

    .wrapper {
        max-width: calc(100% - 40px);
    }

}*/
